{% extends "base.html"%} {%block start%}

<div class="container mt-5">
  <center><h1>Update User</h1></center>
  <hr />
  <form class="card p-5" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
        value="{{user.name}}"
        required
        type="text"
        name="name"
        class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Age</label>
      <input
        value="{{user.age}}"
        required
        type="number"
        name="age"
        class="form-control"
        placeholder="in number" />
    </div>
    <div class="mb-3">
      <label class="form-label">City</label>
      <input
        value="{{user.city}}"
        required
        type="text"
        name="city"
        class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{%endblock%}
